*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Sawarabi Gothic, sans-serif;
  font-size: 1.125em;
  color: #737ff7;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  color: #737ff7;
  text-decoration: none;
}

.container {
  padding: 0.25em 2em;
}

.title {
  font-weight: 900;
  font-size: 1.5rem;
}

.price {
  color: #2a2b30;
}

.description {
  font-weight: 400;
  font-family: Sawarabi Gothic, sans-serif;
}

.header {
  top: 0;
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffdd40;
  align-items: center;
  border-bottom: 1px solid #2a2b30;
}

.header-img {
}

.nav-bar {
  width: 50%;
}

.nav-bar__links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.nav-link {
  color: #2a2b30;
}

@media (max-width: 650px) {
  .nav-bar__links {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 3em;
  }
  nav li {
    padding-bottom: 0.3em;
  }
}

.video-section {
  display: flex;
  justify-content: center;
  margin: 1em auto 2.5em auto;
}

.products {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2em;
}

.album {
  background-color: #ffdd40;
  border-radius: 10px;
  width: 20%;
  padding: 1em 2em;
  text-align: center;
}

@media (max-width: 800px) {
  .products {
    flex-direction: column;
  }
  .album {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 0.6em;
  }
}

.discount {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.email-container {
  max-width: 275px;
  width: 100%;
  margin: 1.125em;
}

.button {
  display: block;
  margin: auto;
  font-size: 1.125rem;
  color: #737ff7;
  padding: 0.5em 2em;
  border-radius: 5px;
  border: 1px solid #656565;
  margin: 0.1em auto;
  font-weight: 600;
  font-family: Sawarabi Gothic, sans-serif;
}

.button:hover {
  color: #db007d;
  border: 1px solid #737ff7;
}
